.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.myTheme {
    background: linear-gradient(#e66465, #9198e5);
}

.myTheme-text {
    color: #333;
    font-style: italic;
}