.wrapper {
    width: 600px;
    margin-bottom: 1px;
    display: grid;
    grid-template-columns: 1fr 1fr 40px;
    border: 1px solid #333;
}

.item {
    padding: 15px;
}

.high {
    color: red;
}

.middle {
    color: orange;
}

.low {
    color: green;
}