.appWrapper {
    margin: 5px;
}

.headerLinks {
    width: 350px;
    transition-duration: 500ms;
    transform: translate(-255px);
}

.headerLinks:hover {
    transition-duration: 500ms;
    transform: translate(0);
}

.toggleControl {
    margin: 5px 0 0 5px;
    cursor: pointer;
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #adff2f;
    border: 1px solid #333333;
}

.headerLinks a {
    text-decoration: none;
    margin-right: 4px;
    padding: 0 8px;
    color: #333333;
    border: 1px solid #333333;
    border-radius: 5px;
    transition: all 0.3s;
}

.headerLinks a:hover {
    color: darkmagenta;
    background-color: #ddd;
    border-color: darkmagenta;
}

.headerLinks a.activeLink {
    color: darkmagenta;
    background-color: #ddd;
    border-color: darkmagenta;
}