.wrapper {
    margin: 10px;
}

.wrapper span {
    margin: 5px;
    padding: 3px
}

.wrapper input {
    padding: 3px;
    margin-right: 10px;
}

.wrapper button {
    padding: 3px;
    margin-right: 10px;
}

.error {
    color: red;
    border: 1px solid red;
}

